params.report_template = '/home/rstudio/repo_files/notebooks/BCR_snapshot_template.Rmd'
params.report_filename = 'BCR_repertoire_report.html'
params.report_title = 'A basic BCR repertoire analysis template'
params.report_author = 'Anonymus'
params.sample_metadata = 'samples_meta.csv'
params.condition_column = 'Label'
params.condition_order = none
params.species = 'musmus'
params.manycpu = 8
