params.input_folder = '/home/rstudio/repo_files/test_data/simulated_input'
params.report_folder = '/home/rstudio/local_files/report'
params.clonotype_dir = '/home/rstudio/local_files/report/reconstruction_logs'
params.sample_metadata = '/home/rstudio/repo_files/test_data/samples_meta.csv'
params.sample_prefix = 'sample'
params.report_template = '/home/rstudio/repo_files/notebooks/BCR_snapshot_template.Rmd'
params.report_filename = 'BCR_repertoire_report.html'
params.report_title = 'A basic BCR repertoire analysis template'
params.report_author = 'Anonymus'
params.condition_column = 'Label'
params.condition_order = 'Control,Reacting,Anergic'
params.table_path = 'test_repertoire_summary.xlsx'
params.figure_path = '/home/rstudio/local_files/report/figures'
params.species = 'musmus'
params.species_alias = 'mmu'
params.numcores = 8
params.adapterFileIllumina = '/usr/share/trimmomatic/TruSeq3-PE.fa'

process {
    withLabel: manycpu {
        cpus = params.numcores
    }
}